<ion-view view-title="Atracciones Turísticas">
  <ion-content class="padding">

  <br>

    <div class="list">
      <a class="item item-icon-left item-fondo" href="#/app/atracciones/playas" style="background-image:url(img/atracciones/playa.jpg)">
        <h1>Playas</h1>
      </a>

      <a class="item item-icon-left item-fondo" href="#/app/atracciones/playas" style="background-image:url(img/atracciones/buceo.jpg)">
        <h1>Arrecifes</h1>
      </a>


      <a class="item item-icon-left item-fondo" href="#/app/atracciones/parques" style="background-image:url(img/parques/museo.jpg)">
        <h1>Parques y museos</h1>
      </a>

      <a class="item item-icon-left item-fondo" href="#/app/atracciones/otras" style="background-image:url(img/atracciones/submarino.jpg)">
        <h1>Otras atracciones</h1>
      </a>



    </div>

  </ion-content>
</ion-view>

<style>
  .fa{
    margin-right: 20px;
    color:#333;
  }
</style>
