<ion-view view-title="Servicios">
  <ion-content class="padding">

  <br>

    <div class="list">

      <a class="item item-icon-left" href="#/app/atracciones/playas">
        <i class="fa fa-check"></i>
        Playas
      </a>

      <a class="item item-icon-left" href="#/app/atracciones/arrecifes">
        <i class="fa fa-check"></i>
        Arrecifes
      </a>

      <a class="item item-icon-left" href="#/app/atracciones/parques">
        <i class="fa fa-check"></i>
        Parques y museos
      </a>

      <a class="item item-icon-left" href="#/app/atracciones/otras">
        <i class="fa fa-check"></i>
        Otras atracciones
      </a>



    </div>

  </ion-content>
</ion-view>

<style>
  .fa{
    margin-right: 20px;
    color:#333;
  }
</style>
