<ion-view view-title="Bienvenida">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-text-wrap">

        <div class="row">
          <div class="col">
            <img src="img/fredy.png" class="full-image">
          </div>
          <div class="col col-75">
            <h1>Bienvenido a Isla Cozumel</h1>

            <p>Dear friends: Welcome to Cozumel Island</p>

            <p>
              Cozumel Island is located along the shores of one of the most privileged areas of Mexico, "the Mexican Caribbean". In Cozumel you will enjoy the best services and the famous hospitality of the Cozumeleños.
            </p>

            <p>
              As Mayor of Cozumel, born and educated in this wonderful island, I give you the warmest welcome and invited you to meet our incomparable natural beauties and discover why “there is a before and after Cozumel".
            </p>

            <p>
              Estimado visitante: Bienvenido a la Bella Isla de Cozumel
            </p>

            <p>
              Cozumel esta situada junto a las costas de una de las mas privilegioadas zonas de nuestro país, destino turístico inigualable conocido cono el Caribe Mexicano, donde disfrutarás de los mejores servicios y de la famosa hospitalidad de los Cozumeleños.
            </p>

            <p>
              Como Presidente municipal, nacido y formado en esta maravillosa isla, te doy las más cordial bienvenida yte invito a que conozcas las incoparables bellezas naturales, para que tú mismo descubras por qué “Hay un antes y un después de Cozumel”
            </p>
          </div>
        </div>


      </div>

    </div>

  </ion-content>
</ion-view>

<style>
  p{
    padding:5px;
    text-align: justify;
  }
</style>
