<ion-view view-title="Bienvenida">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-text-wrap">

        <div class="row">
          <div class="col col-50">
            <img src="img/fredy.png" class="full-image">
          </div>
          <div class="col col-50">
            <h1>Bienvenido a Isla Cozumel</h1>

            <p>
              Estimado visitante: Bienvenido a la Bella Isla de Cozumel
            </p>
            <p>
              Cozumel esta situada junto a las costas de una de las mas privilegioadas zonas de nuestro país, destino turístico inigualable conocido cono el Caribe Mexicano, donde disfrutarás de los mejores servicios y de la famosa hospitalidad de los Cozumeleños.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">


            <p>
              Como Presidente municipal, nacido y formado en esta maravillosa isla, te doy las más cordial bienvenida yte invito a que conozcas las incoparables bellezas naturales, para que tú mismo descubras por qué “Hay un antes y un después de Cozumel”
            </p>
          </div>
        </div>

        <a href="https://twitter.com/fredymarrufo" class="button button-calm button-full"><i class="fa fa-twitter"></i> @fredymarrufo </a>
        <a href="https://twitter.com/fredymarrufo" class="button button-positive button-full"><i class="fa fa-facebook"></i> Fredy Marrufo </a>


      </div>

    </div>

  </ion-content>
</ion-view>

<style>
  p{
    padding:5px;
    text-align: justify;
  }
</style>
