<ion-view view-title="Tipo de Cambio">
  <ion-content class="padding">

    <div class="card">

      <div class="item item-text-wrap" style="text-align:center">
        <iframe src="https://www.google.com/finance/converter?a=1&from=USD&to=MXN" width="100%" height="200px" ></iframe>

        <p style="" class="asertive">
          Este tipo de cambio es de carácter informativo, puede variar de acuerdo al establecimiento que usted visite.
        </p>
        <p>
          <a
            class="button button-full"
             href="https://support.google.com/websearch/answer/3284611?hl=es-419">
            <i class="fa fa-google"></i>
             Powered by Google</a>
        </p>
      </div>
    </div>

  </ion-content>
</ion-view>
