<ion-view view-title="Clima">

      <ion-tabs class="tabs-icon-top">
      <p style="height:160px">&nbsp;</p>
        <ion-tab title="Temperatura" icon-on="fa fa-sun-o" icon-off="fa fa-sun-o">
          <ion-content class="padding">
            <div class="list">
              <br style="height:80px">

                <div class="item card" style="text-align:center" >
                  <h1 style="margin:30px" ng-if="!ctrl.loading">
                    <img src="http://l.yimg.com/a/i/us/we/52/{{ctrl.temperatura.code}}.gif" alt=""><br>
                    Temperatura actual <br>
                    {{ctrl.temperatura.f}}°F / {{ctrl.temperatura.c}}°C</h1>
                  <span ng-if="ctrl.loading" >
                    <i class="fa fa-spinner fa-4x fa-spin" style="margin:50px;"></i>
                  </span>
                </div>

                <a class="item item-thumbnail-left"
                  ng-repeat="f in ctrl.detalles.forecast">
                    <img src="http://l.yimg.com/a/i/us/we/52/{{::f.code}}.gif" alt="">
                    <h2>{{::f.date}}</h2>
                    <p>{{::f.text}}</p>
                </a>

            </div>


            <br>
            <p align="center">
              <a href="http://weather.com">Powered by Weather.com</a>
            </p>

          </ion-content>
        </ion-tab>

        <ion-tab title="Imagen satelital" icon-on="fa fa-map-o" icon-off="fa fa-map-o">
          <div class="card">
            <div class="item item-text-wrap" style="text-align:center">
              <iframe src="http://www.ssd.noaa.gov/goes/east/gmex/vis-animated.gif" width="100%"  height="600px" frameborder="0"></iframe>
            </div>
          </div>
        </ion-tab>




</ion-view>
