<ion-view view-title="Clima">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-text-wrap" style="text-align:center">
        <div ng-bind-html="ctrl.clima"></div>
        <span ng-if="ctrl.loading" style="padding:50px;">
          <i class="fa fa-spinner fa-4x fa-spin"></i>
        </span>
      </div>
    </div>

    <iframe src="http://www.ssd.noaa.gov/goes/east/carb/flash-avn.html" width="100%"  height="600px" frameborder="0"></iframe>

  </ion-content>
</ion-view>
