<ion-view view-title="Inicio">
  <ion-content class="padding">

    <div class="list card">

        <a href="#/app/servicios" class="item item-icon-left">
          <i class="fa fa-suitcase"></i>
          Servicios turísticos
        </a>

        <a href="#/app/atracciones" class="item item-icon-left">
          <i class="fa fa-camera"></i>
          Atracciones turísticas
        </a>

        <a href="#/app/eventos" class="item item-icon-left">
          <i class="fa fa-calendar"></i>
          Eventos y espectáculos
        </a>

        <div class="item item-divider">
          Ayuda
        </div>

        <a href="#/atencion-ciudadana" class="item item-icon-left">
          <i class="fa fa-phone"></i>
          Atención ciudadana
        </a>

        <a href="#/atencion-turistica" class="item item-icon-left">
          <i class="fa fa-check-square-o"></i>
          Atención turística
        </a>


        <a href="#/erergencias" class="item item-icon-left">
          <i class="fa fa-life-ring"></i>
          Servicios de emergencia
        </a>

        <div class="item item-divider">
          Otros
        </div>

        <a href="#" class="item item-icon-left">
          <i class="fa fa-smile-o"></i>
          Bienvenida
        </a>

        <a href="#" class="item item-icon-left">
          <i class="fa fa-bank"></i>
          Cozumel
        </a>

        <a href="#" class="item item-icon-left">
          <i class="fa fa-map-o"></i>
          Mapa
        </a>

      </div>
  </ion-content>
</ion-view>
<style>
  .fa{
    margin-right: 20px;
  }
</style>
