<ion-view view-title="Inicio">
  <ion-content class="padding">

    <div class="row">
      <div class="col col-50 icon-home"
        style="background-image:url(img/inicio/servicios.jpg);background-size:100% auto">
          <a href="#/app/servicios">
            <br>
            <h3><i class="fa fa-globe fa-2x"></i><br>Servicios <br>turísticos</h3>
            <br>
          </a>
      </div>
      <div class="col col-50 icon-home"
        style="background-image:url(img/inicio/atracciones.jpg);background-size:100% auto">
          <a href="#/app/atracciones">
            <br>
            <h3><i class="fa fa-camera fa-2x"></i><br>Atracciones <br>turísticas</h3>
            <br>
          </a>
      </div>
    </div>
    <div class="row">
        <div class="col col-50 icon-home"
          style="background-image:url(img/inicio/mapa.jpg);background-size:110% auto">
          <a href="#/app/mapa">
            <br>
            <h3><i class="fa fa-map-o fa-2x"></i><br>Mapa de <br>la Isla</h3>
            <br>
          </a>
      </div>
      <div class="col col-50 icon-home"
        style="background-image:url(img/inicio/eventos.jpg);background-size:100% auto">
          <a href="#/app/eventos">
            <br>
            <h3><i class="fa fa-calendar fa-2x"></i><br>Eventos y <br>espectáculos</h3>
            <br>
          </a>
      </div>
    </div>


    <div class="list card">


        <div class="item item-divider">
          Ayuda
        </div>

        <!-- <a href="#/app/atencion-ciudadana" class="item item-icon-left">
          <i class="fa fa-phone"></i>
          Atención ciudadana
        </a> -->

        <a href="#/app/atencion-turistica" class="item item-icon-left">
          <i class="fa fa-warning"></i>
          Atención turística
        </a>


        <a href="#/app/emergencias" class="item item-icon-left">
          <i class="fa fa-life-ring"></i>
          Servicios de emergencia
        </a>

        <a href="#/app/emergencias" class="item item-icon-left">
          <i class="fa fa-life-ring"></i>
          Clima {{ctrl.clima}}
        </a>
        {{ctrl.clima.item.condition.text}}
        <p ng-bind-html="ctrl.clima.item.condition.description">

        </p>

        <div class="item item-divider">
          Otros
        </div>

        <a href="#/app/bienvenida" class="item item-icon-left">
          <i class="fa fa-smile-o"></i>
          Bienvenida
        </a>

        <a href="http://cozumel.gob.mx" class="item item-icon-left">
          <i class="fa fa-link"></i>
          Sitio Oficial
        </a>

        <!-- <a href="#/app/mapa" class="item item-icon-left">
          <i class="fa fa-map-o"></i>
          Mapa
        </a> -->
        <a href="#/app/historia" class="item item-icon-left">
          <i class="fa fa-book"></i>
          Historia, Cultura y Ecología
        </a>

      </div>
  </ion-content>
</ion-view>
<style>
  .fa{
    margin-right: 20px;
  }
</style>
