
<ion-view view-title="Mapa de Cozumel">


    <div style="height:1000px">
      <ion-tabs class="tabs-striped tabs-top">

          <!-- Tab 1 -->
          <ion-tab title="Centro de la ciudad" >
              <ion-nav-view name="tab-tab1">
                <ion-content>
                  <a href="http://app.cozumel.gob.mx/img/shared/mapa_centro.jpg" class="button button-assertive button-full">
                    <i class="fa fa-map-o"></i>
                    Descargar mapa</a>
                  <ion-scroll zooming="true" direction="xy">
                    <img src="img/mapa_centro.jpg" width="130%">
                  </ion-scroll>

                </ion-content>
              </ion-nav-view>
          </ion-tab>


          <!-- Tab 2 -->
          <ion-tab title="Map de la Isla" >
              <ion-nav-view name="tab-tab2">
                  <ion-content>
                    <a href="http://app.cozumel.gob.mx/img/shared/mapa_isla.jpg" class="button button-assertive button-full">
                      <i class="fa fa-map-o"></i>
                      Descargar mapa</a>
                    <ion-scroll zooming="true" direction="xy" style="width: 100%; height: auto">
                      <img src="img/mapa_isla.jpg" width="120%">
                    </ion-scroll>
                  </ion-content>
                  <a href="http://app.cozumel.gob.mx/img/mapa_centro.jpg" class="button button-assertive">Descargar mapa</a>
              </ion-nav-view>
          </ion-tab>

      </ion-tabs>
    </div>

      <!-- <ion-scroll zooming="true" direction="xy" style="width: 100%; height: auto">
        <img src="img/mapa.jpg" width="750px">
      </ion-scroll> -->

</ion-view>
