<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">

        <a href="#" class="item item-icon-left">
          <i class="fa fa-suitcase"></i>
          Servicios turísticos
        </a>

        <a href="#" class="item item-icon-left">
          <i class="fa fa-camera"></i>
          Atracciones turísticas
        </a>

        <a href="#" class="item item-icon-left">
          <i class="fa fa-calendar"></i>
          Eventos y espectáculos
        </a>

        <a href="#" class="item item-icon-left">
          <i class="fa fa-phone"></i>
          Atención ciudadana
        </a>

        <a href="#" class="item item-icon-left">
          <i class="fa fa-check-square-o"></i>
          Atención turística
        </a>

        <a href="#" class="item item-icon-left">
          <i class="fa fa-life-ring"></i>
          Servicios de emergencia
        </a>

        <a href="#" class="item item-icon-left">
          <i class="fa fa-smile-o"></i>
          Bienvenida
        </a>

        <a href="#" class="item item-icon-left">
          <i class="fa fa-bank"></i>
          Cozumel
        </a>

        <a href="#" class="item item-icon-left">
          <i class="fa fa-map-o"></i>
          Mapa
        </a>

      </div>
  </ion-content>
</ion-view>
<style>
  .fa{
    margin-right: 20px;
  }
</style>
