<div class="bar bar-subheader">
  <label class="item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="buscarPlaya" placeholder="Buscar...">
  </label>
</div>
<ion-view view-title="Playas">
  <ion-content class="padding">
    <hr><br>

    <div class="list">

      <div class="card" ng-repeat="playa in ctrl.playas|orderBy:'nombre'|filter:buscarPlaya">
          <div class="item item-text-wrap">
            <h2>{{::playa.nombre}}</h2>
            <p><i class="fa fa-map-marker"></i> {{::playa.direccion}}</p>
          </div>
          <div class="item item-image">
            <img src="{{playa.foto}}" alt="">
          </div>

          <div class="item item-body">
            <p ng-if="playa.correo"><i class="fa fa-envelope"></i> {{::playa.correo}}.</p>

            <p><strong>Costo: </strong> {{::playa.costos}}.</p>
            <h4>Servicios</h4>
            <a class="subdued" ng-repeat="servicio in playa.servicios">
              * {{servicio}}
            </a>
            <a ng-if="playa.website" href="{{::playa.website}}" onclick="window.open(this.href, '_system', 'location=yes'); return false;" class="button button-full button-positive">
              <i class="fa fa-link"></i>
              Visitar sitio web</a>
            <a ng-if="playa.telefono" href="tel:{{::playa.telefono}}" class="button button-full"><i class="fa fa-phone"></i> {{::playa.telefono}}</a>
          </div>
      </div>



    </div>

  </ion-content>
</ion-view>

<style>
  .button-small{
    margin: 10px;
  }
</style>
