<ion-view view-title="Ferry de pasajeros">
  <ion-content class="padding" style="background-image:url(img/gifs/ferry1.gif);background-repeat: no-repeat;background-size:100% auto">

    <p style="height:250px">&nbsp;</p>
    <div class="list" style="background-color:#e2e2e2">


      <div class="card" ng-repeat="ferry in ctrl.empresas|orderBy:'nombre'|filter:buscar">
        <div class="item item-thumbnail-left">
          <img src="{{::ferry.foto}}">
            <h2>{{::ferry.nombre|uppercase}}</h2>
            <p>{{::ferry.direccion}}</p>
          </div>

           <span class="item" href="javascript:;" ng-repeat="servicio in ferry.servicios">
              {{servicio}}
           </span>

           <a href="{{::ferry.website}}" class="button button-full button-positive">
             <i class="fa fa-link"> Ver sitio web</i>
           </a>
           <a ng-repeat="telefono in ferry.telefono" href="tel:{{telefono}}" class="button button-full">
             <i class="fa fa-phone">{{telefono}}</i>
           </a>
          <!-- <div class="item item-body">
            <p ng-bind-html="ferry.descripcion"></p>
            <strong class="button button-positive">Servicios: </strong>
            <span ng-repeat="servicio in ferry.servicios" class="button" style="margin-left:5px;">* {{servicio}}</span>
          </div> -->
      </div>

    </div>

  </ion-content>
</ion-view>
