<ion-view view-title="Eventos">
  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="buscar" placeholder="Buscar...">
      </label>
    </div>


    <div class="list">

      <div class="card" ng-repeat="evento in ctrl.eventos|filter:buscar">
          <div class="item item-text-wrap"
          ng-init="texto[evento.nombre]=false"
          ng-click="texto[evento.nombre]=!texto[evento.nombre]">
            <h1>{{::evento.nombre}}  <span class="assertive" style="font-size:15px;text-align:right">{{::evento.mes}}</span></h1>
          </div>
          <div class="item item-image" ng-click="texto[evento.nombre]=!texto[evento.nombre]">
            <img src="{{evento.foto}}" alt="">
          </div>
          <div class="item item-body" ng-if="texto[evento.nombre]">
            <p ng-bind-html="evento.descripcion"></p>
          </div>
      </div>



    </div>

  </ion-content>
</ion-view>
