<div class="bar bar-subheader">
  <label class="item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="buscar" placeholder="Buscar...">
  </label>
</div>
<ion-view view-title="Rentadoras">
  <ion-content class="padding">
    <br>

    <!-- <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="buscar" placeholder="Buscar...">
      </label>
    </div> -->


    <div class="list">

      <div class="card" ng-repeat="rentadora in ctrl.rentadoras|orderBy:'nombre'|filter:buscar">

          <div class="item item-body">
            <h2>{{::rentadora.nombre|uppercase}}</h2>
            <p>
              <a href="https://www.google.com.mx/maps/place/{{::rentadora.direccion}}, Cozumel">
                <i class="fa fa-map-marker"></i> {{::rentadora.direccion}}
              </a>
            </p>
            <button class="button button-small button-assertive" ng-repeat="item in rentadora.producto">
              {{item}}
            </button>
            <p>
              <a href="http://{{::rentadora.website}}" onclick="window.open(this.href, '_system', 'location=yes'); return false;" class="button button-full" ng-if="rentadora.website"><i class="fa fa-link"></i> {{::rentadora.website}}</a>
              <a href="tel:{{::rentadora.telefono}}" class="button button-full"><i class="fa fa-phone"></i> {{::rentadora.telefono}}</a>
              <a href="mail:{{::rentadora.correo}}" class="button button-full" ng-if="rentadora.correo"><i class="fa fa-envelope"></i> {{::rentadora.correo}}</a>
            </p>
          </div>
      </div>



    </div>

  </ion-content>
</ion-view>
