<ion-view view-title="Rentadoras">
  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="buscar" placeholder="Buscar...">
      </label>
    </div>


    <div class="list">

      <div class="card" ng-repeat="rentadora in ctrl.rentadoras|orderBy:'nombre'|filter:buscar">

          <div class="item item-body">
            <h2>{{::rentadora.nombre|uppercase}}</h2>
            <p>Dirección: {{::rentadora.direccion}}</p>
            <button class="button button-small button-assertive" ng-repeat="item in rentadora.producto">
              {{item}}
            </button>
            <p ng-if="rentadora.website">
              Website:
              <br>
              <a href="http://{{::rentadora.website}}" class="button button-positive">{{::rentadora.website}}</a>
            </p>
            <p>
              <a href="#" class="subdued">Teléfono: {{::rentadora.telefono}}</a>
              <a href="#" class="subdued" ng-if="rentadora.correo">Correo: {{::rentadora.correo}}</a>
            </p>
          </div>
      </div>



    </div>

  </ion-content>
</ion-view>

<style>
  .button{
    margin-right: 5px;
  }
</style>
