<div class="bar bar-subheader">
  <label class="item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="buscar" placeholder="Buscar...">
  </label>
</div>
<ion-view view-title="Agencias">
  <ion-content class="padding">

    <div class="list list-inset">
      <!-- <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="buscar" placeholder="Buscar...">
      </label> -->
    </div>



    <div class="list">

      <div class="card" ng-repeat="agencia in ctrl.agencias|orderBy:'nombre'|filter:buscar">
          <div class="item item-text-wrap">
            <h2>{{::agencia.nombre}}</h2>
            <!-- <p>Responsable: {{::agencia.responsable}}</p> -->
          </div>

          <div class="item item-body">
            <p>
              <i class="fa fa-map-marker"></i> {{::agencia.direccion}}
            </p>
             <p>
              <i class="fa fa-clock-o"></i> {{::agencia.horarios}}
             </p>
            <h2>Servicios:</h2>
            <p>
              <span class="subdued" ng-repeat="servicio in agencia.servicios">
                <i class="fa fa-check"></i> {{servicio}}
              </span>
            </p>

            <p>
              <a href="tel:{{::agencia.telefono}}" class="button button-full"><i class="fa fa-phone"></i> {{::agencia.telefono}}</a>
            </p>
          </div>
      </div>



    </div>

  </ion-content>
</ion-view>

<style>
  .button{
    margin-right: 5px;
  }
</style>
