<div class="bar bar-subheader">
  <label class="item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="buscar" placeholder="Buscar...">
  </label>
</div>
<ion-view view-title="Atención turística">
  <ion-content class="padding">

    <!-- <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="buscar" placeholder="Buscar...">
      </label>
    </div> -->


    <div class="list">

      <div class="card" ng-repeat="dependencia in ctrl.dependencias|orderBy:'nombre'|filter:buscar">
          <div class="item item-body">
            <h2>{{::dependencia.nombre|uppercase}}</h2>
            <p>
              <i class="fa fa-map-marker"></i> {{::dependencia.direccion}}
            </p>
            <p ng-if="dependencia.horarios">
              <i class="fa fa-clock-o"></i> {{::dependencia.horarios}}.</p>
            <p class="" ng-repeat="servicio in dependencia.servicios">
              {{servicio}}
              <br>
            </p>
            <p>
              <a class="button button-full" ng-repeat="telefono in dependencia.telefonos" href="tel:{{::telefono}}">
                <i class="fa fa-phone"></i>
                {{::telefono}}</a>
            </p>
            <a ng-if="dependencia.website" href="{{::dependencia.website}}" onclick="window.open(this.href, '_system', 'location=yes'); return false;" class="button button-full">
              <i class="fa fa-link"></i>
              Ver sitio web
            </a>
          </div>
      </div>



    </div>

  </ion-content>
</ion-view>

<style>
  .button{
    margin-right: 5px;
  }
</style>
