<div class="bar bar-subheader">
  <label class="item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="buscar" placeholder="Buscar...">
  </label>
</div>
<ion-view view-title="Arrecifes">
  <ion-content class="padding">
  <hr style="height:20px">
    <div class="list">

      <div class="card" ng-repeat="arrecife in ctrl.arrecifes|orderBy:'nombre'|filter:buscar">
        <div class="item item-text-wrap">
            <h2>{{::arrecife.nombre|uppercase}}</h2>
          </div>
          <div class="item item-body">
            <img class="full-image" src="{{::arrecife.foto}}">
          </div>
      </div>

    </div>

  </ion-content>
</ion-view>
