<div class="bar bar-subheader">
  <label class="item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="buscar" placeholder="Buscar...">
  </label>
</div>
<ion-view view-title="Aeropuerto">

  <ion-content class="padding">
    <hr style="height:40px">

    <div class="card" style="padding:20px;text-align:justify;">
      <p>
        El aeropuerto Internacional de Cozumel se localiza en la 65 avenida con bulevar aeropuerto, a menos de 5 minutos del área del centro. La transportación del aeropuerto a los hoteles está concesionada a una compañía privada para ofrecer un mejor servicio a los viajeros y ofrecen únicamente vans compartidas. No hay servicio de taxis.
      </p>
    </div>

    <div class="list">

      <div class="item item-button-right" ng-repeat="aerolinea in ctrl.aerolineas|orderBy:'nombre'|filter:buscar">
        {{::aerolinea.nombre}}
        <a class="button button-positive" href="tel:{{::aerolinea.telefono[0]}}">
          <i class="icon ion-ios-telephone"></i>
        </a>
      </div>



    </div>

  </ion-content>
</ion-view>

<style>
  .button{
    margin-right: 5px;
  }
</style>
