<ion-view view-title="Parques">
  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="buscar" placeholder="Buscar...">
      </label>
    </div>


    <div class="list">

      <div class="card" ng-repeat="parque in ctrl.parques|orderBy:'nombre'|filter:buscar">
        <div class="item item-avatar">
            <h2>{{::parque.nombre}}</h2>
            <p>{{::parque.direccion}}</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="{{::parque.foto}}">
            <p>
              {{::parque.descripcion}}
            </p>

            <h3>Servicios adicionales</h3>
            <p>
              <a ng-repeat="servicio in parque.servicios" class="subdued">* {{servicio}}</a>
            </p>
          </div>
      </div>



    </div>

  </ion-content>
</ion-view>
