<div class="bar bar-subheader">
  <label class="item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="buscar" placeholder="Buscar...">
  </label>
</div>
<ion-view view-title="Parques">
  <ion-content class="padding">
  <hr style="height:20px">
    <div class="list">

      <div class="card" ng-repeat="parque in ctrl.parques|orderBy:'nombre'|filter:buscar">
        <div class="item item-text-wrap">
            <h2>{{::parque.nombre|uppercase}}</h2>
            <p>{{::parque.direccion}}</p>
          </div>

          <div class="item item-body">
            <img class="full-image" src="{{::parque.foto}}">

            <p ng-bind-html="parque.descripcion"></p>
            <h2>Servicios adicionales</h2>
            <p>
              <a ng-repeat="servicio in parque.servicios" class="subdued">* {{servicio}}</a>
            </p>
            <p>
              <a ng-repeat="telefono in parque.telefonos" href="tel:{{telefono}}" class="button button-full" ><i class="fa fa-phone"></i> {{::telefono}}</a>
            </p>
          </div>
      </div>

    </div>

  </ion-content>
</ion-view>
