<ion-view view-title="Hoteles">
  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="buscar" placeholder="Buscar...">
      </label>
    </div>


    <div class="list">
      <a class="item item-thumbnail-left"
        ng-repeat="hotel in ctrl.hoteles|orderBy:'nombre'|filter:buscar"
        href="#/app/servicios/hoteles/{{::hotel.nombre}}" >
          <img src="{{::hotel.foto}}">
          <h2>{{::hotel.nombre}}</h2>
          <p>{{::hotel.direccion}}</p>
      </a>
    </div>
  </ion-content>
</ion-view>
