<ion-view view-title="Historia y Cultura">
  <ion-content class="padding">

    <div class="list">

      <div class="card" >
          <div class="item item-text-wrap">
            <h2>Historia</h2>

          </div>
          <div class="item item-image">
            <img src="img/historia/historia.jpg" alt="">
          </div>

          <div class="item item-body">
            <p>
              Cozumel (Cuzamil) , Primer punto geográfico de México en recibir los rayos del sol cada nuevo día, conserva aún hoy desde sus inicios como asentamiento humano alrededor del año 300 AC , una particular atmósfera tanto para sus visitantes como para las personas que la habitan.
            </p>
          </div>
      </div>

      <div class="card" >
          <div class="item item-text-wrap">
            <h2>Cultura</h2>

          </div>
          <div class="item item-image">
            <img src="img/historia/cultura.jpg" alt="">
          </div>

          <div class="item item-body">
            <p>
              Por haberse originado en una isla, la cultura cozumeleña es hoy en día un muy peculiar, por no decir único estilo de vida con fuertes raíces provenientes de sus repobladores.
            </p>
          </div>
      </div>

      <div class="card" >
          <div class="item item-text-wrap">
            <h2>Ecología</h2>

          </div>
          <div class="item item-image">
            <img src="img/historia/ecologia.jpg" alt="">
          </div>

          <div class="item item-body">
            <p>
              48 kilómetros de norte a sur y 8 de este a oeste son las dimensiones de la isla, lo que facilita a los visitantes salir a explorarla durante su visita. Las blancas playas que la enmarcan no son lo único que te hará enamorarte de ella.
            </p>
          </div>
      </div>

    </div>


    <!-- <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="buscar" placeholder="Buscar...">
      </label>
    </div>


    <div class="list">
      <a class="item item-thumbnail-left"
        ng-repeat="historia in ctrl.historias|orderBy:'titulo'|filter:buscar"
        href="#/app/historia/{{::historia.titulo}}" >
          <img ng-if="historia.foto!=''" src="{{::historia.foto}}">
          <h2>{{::historia.titulo}}</h2>
      </a>
    </div> -->


  </ion-content>
</ion-view>
