<div class="bar bar-subheader">
  <label class="item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="buscar" placeholder="Buscar...">
  </label>
</div>
<ion-view view-title="Bancos">
  <ion-content class="padding">
    <br>

    <!-- <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="buscar" placeholder="Buscar...">
      </label>
    </div> -->


    <div class="list">

      <div class="card" ng-repeat="banco in ctrl.bancos|orderBy:'nombre'|filter:buscar">
          <div class="item item-body">
            <h2>{{::banco.nombre}}</h2>
            <p>
              <i class="fa fa-map-marker"></i>{{::banco.direccion}}
            </p>
            <p>
              <i class="fa fa-clock-o"></i> {{::banco.horarios}}
            </p>
            <button class="button button-small button-assertive pad10" ng-repeat="servicio in banco.servicios">
              {{servicio}}
            </button>
            <p>
              <a ng-repeat="telefono in banco.telefonos" href="tel:{{telefono}}" class="button button-full" ><i class="fa fa-phone"></i> {{::telefono}}</a>
            </p>
          </div>
      </div>



    </div>

  </ion-content>
</ion-view>

<style>
  .button{
    margin-right: 5px;
  }
</style>
