<div class="bar bar-subheader">
  <label class="item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="buscar" placeholder="Buscar...">
  </label>
</div>
<ion-view view-title="Restaurantes">
  <ion-content class="padding">

    <!-- <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="buscar" placeholder="Buscar...">
      </label>
    </div> -->
    <hr>
    <br>

    <div class="list">

      <div class="card" style="padding:30px">
        <h2>Selecciona el tipo de cocina</h2>
        <select ng-model="estilo" style="width:100%">
          <option value="">Todas</option>
          <option ng-repeat="(estilo,restaurantes) in ctrl.estilos">{{::estilo}}</option>
        </select>
      </div>

      <div class="card" ng-repeat="restaurante in ctrl.restaurantes|orderBy:'nombre'|filter:buscar|filter:estilo">
          <div class="item item-thumbnail-left">
            <img src="{{::restaurante.foto}}" alt="">
            <h2>{{::restaurante.nombre}}</h2>
            <p><i class="fa fa-map-marker"></i> {{::restaurante.direccion}}</p>
            <p ng-if="restaurante.horario"><i class="fa fa-clock-o"></i> {{::restaurante.horario}}</p>
          </div>

          <div class="item item-body">
            <p >
              <a href="{{::restaurante.website}}"
                ng-if="restaurante.website"
                onclick="window.open(this.href, '_system', 'location=yes'); return false;"
                class="button button-assertive button-full"><i class="fa fa-link"></i> Ver sitio web</a>
              <a href="{{::restaurante.facebook}}"
                ng-if="restaurante.facebook"
                onclick="window.open(this.href, '_system', 'location=yes'); return false;"
                class="button button-positive button-full"><i class="fa fa-facebook"></i> Ir a la página de facebook</a>
            </p>
            <p>
              <a ng-if="restaurante.telefonos[0]" class="button button-full"><i class="fa fa-phone"></i> {{::restaurante.telefonos[0]}}</a>
            </p>
          </div>
      </div>



    </div>

  </ion-content>
</ion-view>
