<ion-view view-title="Restaurantes">
  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="buscar" placeholder="Buscar...">
      </label>
    </div>


    <div class="list">

      <div class="card" ng-repeat="restaurante in ctrl.restaurantes|orderBy:'nombre'|filter:buscar">

          <div class="item item-body">
            <h2>{{::restaurante.nombre|uppercase}}</h2>
            <p><strong>Dirección:</strong> {{::restaurante.direccion}}</p>
            <p ng-if="restaurante.horario"><strong>Horarios:</strong> {{::restaurante.horario}}</p>
            <button class="button button-small button-assertive" ng-repeat="item in restaurante.producto">
              {{item}}
            </button>
            <p >
              <a href="{{::restaurante.website}}"
                ng-if="restaurante.website"
                class="button button-assertive button-small"><i class="fa fa-globe"></i> Ver sitio web</a>
              <a href="{{::restaurante.facebook}}"
                ng-if="restaurante.facebook"
                class="button button-positive button-small"><i class="fa fa-facebook"></i> Ir a la página de facebook</a>
            </p>
            <p>
              <a ng-if="restaurante.telefonos[0]" class="subdued">Teléfono: {{::restaurante.telefonos[0]}}</a>
            </p>
          </div>
      </div>



    </div>

  </ion-content>
</ion-view>

<style>
  .fa{
    color:#f1f1f1;
    margin-right:10px;
    margin-left:10px;
  }
  .button{
    margin-right: 5px;
  }
</style>
