<ion-view view-title="Emergencias">
  <ion-content class="padding">

    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="buscar" placeholder="Buscar...">
      </label>
    </div>

    <div class="list">

      <div class="item item-button-right" ng-repeat="servicio in ctrl.emergencias|filter:buscar">
          <h3>{{::servicio.nombre}}</h3>
          <p>{{::servicio.telefono}}</p>
          <a class="button button-positive" href="tel:{{::servicio.telefono}}">
            <i class="icon ion-ios-telephone"></i>
          </a>
        </div>

    </div>

  </ion-content>
</ion-view>
