p {
  text-align: justify;
}
/* Empty. Add your own CSS if you like */
.pane{
  background-color: #e9e9e9;
}
.nav-bar-block, .bar {
  /*background-color: white !important;
  color:#333 !important;*/
  background-color:#58D3F7!important;
  color:#ffffff!important;
}
.title-center,.back-button{
  color:#fff!important;
}
.item-divider{
  background-color:#58D3F7;
  color:#ffffff!important;
}
.bar-subheader{
  background-color: #fff!important;
}
.icon-home{
  text-align: center!important;
  text-shadow: 1px 1px 7px #000;
}

.icon-home a,h3{
  display: inline-block;
  width: 100%;
  padding:0px!important;
  min-height: 100px;
  text-decoration: none!important;
  color:#fff!important;
}
.icon-home a{
  background: rgba(0,0,0,.3);
}
.item-fondo{
  min-height: 220px;
}
.item-fondo>h1{
  background:rgba(0, 0, 0, 0.8);
  /*text-align: right;*/
  display: block;
  margin-top: 180px;
  color:#fff;
  /*-webkit-text-stroke: 1px #777+;*/
  text-shadow: 0px 0px 5px #000;
}
.pad10 {
  margin: 1px;
}
