<div class="bar bar-subheader">
  <label class="item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="buscar" placeholder="Buscar...">
  </label>
</div>
<ion-view view-title="Hoteles">
  <ion-content class="padding">
    <hr style="height:30px">    
    <!-- <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" ng-model="buscar" placeholder="Buscar...">
      </label>
    </div> -->


    <div class="list">
      <a class="item item-thumbnail-left"
        ng-repeat="hotel in ctrl.hoteles|orderBy:'categoria'|filter:buscar"
        href="#/app/servicios/hoteles/{{::hotel.nombre}}" >
          <img src="{{::hotel.foto}}">
          <h2>{{::hotel.nombre}}</h2>
          <p>{{::hotel.direccion}}</p>
          <p>{{::hotel.categoria}} <i class="fa fa-star"></i></p>
      </a>
    </div>
  </ion-content>
</ion-view>
