<ion-view view-title="{{::ctrl.hotel.nombre}}">
  <ion-content class="padding">

    <div class="card list">

      <div class="item item-text-wrap">
        <h1>{{::ctrl.hotel.nombre}}</h1>
        <p>{{::ctrl.hotel.direccion}}</p>
      </div>
      <div class="item item-image">
        <img src="{{::ctrl.hotel.foto}}" alt="">
      </div>

      <div class="list">
        <div class="item item-divider">
          Información de contacto
        </div>
        <div class="item item-button-right" >
            <h2>Teléfono</h2>
            <p>{{::ctrl.hotel.telefonos[0]}}</p>
            <a class="button button-positive" href="tel:{{::ctrl.hotel.telefonos[0]}}">
              <i class="icon ion-ios-telephone"></i>
            </a>
        </div>
        <!-- <div class="item item-button-right" >
            <h2>Teléfono extranjeros</h2>
            <p>{{::ctrl.hotel.telefonos[1]}}</p>
            <a class="button button-positive" href="tel:{{::ctrl.hotel.telefonos[1]}}">
              <i class="icon ion-ios-telephone"></i>
            </a>
        </div> -->

        <a class="item item-icon-left" ng-if="ctrl.hotel.fax">
          <i class="fa fa-fax"></i>
          Fax
          <span class="item-note">
            {{::ctrl.hotel.fax}}
          </span>
        </a>
        <a class="item item-icon-left"  ng-if="ctrl.hotel.correo">
          <i class="fa fa-envelope"></i>
          Correo
          <a class="item-note" href="mail:{{::ctrl.hotel.correo}}">
            {{::ctrl.hotel.correo}}
          </a>
        </a>
        <a class="item item-icon-left"  ng-if="ctrl.hotel.website">
          <i class="fa fa-globe"></i>
          Website
          <a class="item-note" href="http://{{::ctrl.hotel.website}}">
            {{::ctrl.hotel.website}}
          </a>
        </a>
        <div class="item item-divider">
          Detalles del hotel
        </div>
        <a class="item item-icon-left">
          <i class="fa fa-hotel"></i>
          Habitaciones
          <span class="item-note">
            {{::ctrl.hotel.cuartos}}
          </span>
        </a>
        <a class="item item-icon-left">
          <i class="fa fa-star"></i>
          Categoría
          <span class="item-note">
            {{::ctrl.hotel.categoria}}
          </span>
        </a>
        <a class="item item-icon-left">
          <i class="fa fa-archive"></i>
          Plan
          <span class="item-note">
            {{::ctrl.hotel.plan}}
          </span>
        </a>
        <div class="item item-divider">
          Incluye
        </div>
        <a class="item item-icon-left" ng-repeat="item in ctrl.hotel.incluye">
          <i class="fa fa-check"></i>
          {{::item}}
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
<style>
  .fa{
    margin-right:20px;
    color:#333;
  }
</style>
